body{
    background-image: url("image/luigi_casino.png");
    background-size: cover;
}

p{
    text-align: right;
}

.carte{
    display: grid;
}

.carte_l1{
    width: 100px;
    height: 150px;
    grid: ;
}

.carte_l2{
    width: 100px;
    height: 150px;
    grid: ;
}
